@media (max-width: 1199.98px) {
    .projects-page {
        padding-top: 1rem;
    }
}

@media (max-width: 575.98px) {
    .projects-header {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .projects-list {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}