.card {
    width: 26rem;

    .card-content {
        text-align: center;
        position: relative;
        padding: 15em 5em;
        transition: transform 3s;
        transform-style: preserve-3d;
    }
    .card-front,
    .card-back {
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5em 3em;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        display: grid;
        align-content: center;
    }
    .card-front {
        background-color: var(--clr);
        background-size: cover;
        background-blend-mode: overlay;
        border: 1px solid white;
        color: white;
    }
    .card-front::before {
        content: '';
        position: absolute;
        top: 1em;
        bottom: 1em;
        left: 1em;
        right: 1em;
        border: 3px solid currentColor;
        transform: var(--z-one);
    }
    .card-title {
        font-size: var(--pt-double-great-primer);
        transform: var(--z-three);
        text-transform: uppercase;
        padding-top: .2em;
    }
    .card-subtitle {
        transform: var(--z-two);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: var(--pt-bourgeois);
        font-weight: 700;
        opacity: 0.8;
    }
    .card-body {
        transform: var(--z-two);
        font-weight: 400;
        font-size: var(--pt-english);
        line-height: 1.6;
    }
    .card-back {
        background-color: var(--clr);
        background-blend-mode: overlay;
        background-size: cover;
        transform: rotateY(.5turn);
        border: 1px solid white;
        color: white;

        p {
            padding: 0;
        }
    }
    a {
        text-decoration: none;
    }
    .gh-icon,
    .flip-icon {
        transform: var(--z-one);
        color: inherit;
        --fa-animation-duration: 3s;
    }
}

.card:hover .card-content {
    transform: rotateY(.5turn);
}

@media (max-width: 767.98px) {
    .card {
        width: 20rem;

        .card-title {
            font-size: var(--pt-double-english);
        }
        .card-subtitle {
            font-size: var(--pt-petite)
        }
    }
}

@media (max-width: 455px) {
    .card {
        width: 16rem;

        .card-title {
            font-size: var(--pt-robust);
        }
    }
}